---
layout: default
title: "Blog"
description: "posmlab blog"
group: navigation
navorder: 4
---
{% include JB/setup %}

{% for post in site.categories.blog %}

	{% for member in site.categories.team %}
		{% if member.handle == post.author_handle %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="bigspacer"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="head">
				<a href="{{ post.url | relative_url }}" class="off">{{ post.title }}</a>
			</div>
			<div class="smallnote">
				{{ post.date | date_to_string }}
				{% if author %}
				by <a class="off" href="{{ author.url | relative_url }}">{{ author.nickname }}</a>
				{% endif %}
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				{% include JB/web-share.html title=post.title url=post.url %}
			</div>
		</div>
		<div class="col-md-8">		
			<div style="height:5px;"></div>			
			{% if post.image %}
			<a href="{{ post.url | relative_url }}"><img class="offset" src="{{ post.image | relative_url }}"></a>
			{% endif %}
			<div class="post">
				{{ post.content }}
			</div>
		</div>			
		<div class="col-md-1"></div>
	</div>		

{% endfor %}

<div class="bigspacer"></div>	
<div class="row">
	<div class="col-md-12 text-center">
		<a class="off" href="{{ '/archive.html' | relative_url }}">
			<div class="smallhead">Archive</div>
			<i class="text-gray fa fa-chevron-circle-down fa-2x"></i>
		</a>
	</div>
</div>